@import url("https://fonts.googleapis.com/css?family=Poppins");
:root {
  font-family: "Poppins", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 30px 50px 30px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--text-color);
  background-color: var(--background);
}

[data-theme="dark"] {
  --text-color: white;
  --background: rgb(0, 0, 0);
  --popup-bg: rgb(38, 38, 38);
  --table-bg-odd: #585858;
  --table-text-odd: rgb(255, 255, 255);
  --table-bg-even: #3a3a3a;
  --table-text-even: white;
  --table-input-bg: #533605;
  --table-input-color: white;
}

[data-theme="light"] {
  --text-color: black;
  --background: white;
  --popup-bg: rgb(185, 185, 185);
  --table-bg-odd: #c4c4c4;
  --table-text-odd: rgb(0, 0, 0);
  --table-bg-even: #4e4e4e;
  --table-text-even: white;
  --table-input-bg: rgb(253, 231, 180);
  --table-input-color: black;
}

.center {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 10px;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: black solid 0.5px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: lightgreen;
  cursor: pointer;
}
