table {
  text-align: left;
  font-size: 18px;
  margin: 20px;
}

table td:first-child {
  text-align: center;
}

table thead tr {
  font-size: 20px;
  background-color: #009879;
  color: #ffffff;
}

table th,
table td {
  padding: 15px;
}

table tbody tr:nth-of-type(odd) {
  color: black;
  background-color: #c4c4c4;
}

table tbody tr:nth-of-type(even) {
  color: white;
  background-color: #4e4e4e;
}

table tbody .word-input,
table tbody .new-word-input {
  font-size: 20px;
  padding: 10px;
}

.pair-action-btn {
  color: rgb(28, 28, 28);
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  border: none;
  font-size: 30px;
  display: block;
  margin: 0 auto;
}

table tbody td.delete-field {
  background-color: rgb(255, 149, 149);
}

table tbody td.add-new {
  color: black;
  background-color: #9dffaa;
}
