@import url("https://fonts.googleapis.com/css?family=Poppins");
:root {
  font-family: "Poppins", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px 0 50px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--text-color);
  background-color: var(--background);
}

[data-theme="dark"] {
  --text-color: white;
  --background: rgb(8, 24, 35);
  --popup-bg: rgb(38, 38, 38);
}

[data-theme="light"] {
  --text-color: black;
  --background: white;
  --popup-bg: rgb(185, 185, 185);
}

.center {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 10px;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: black solid 1.5px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #41f294;
  cursor: pointer;
}
